body {
  margin: 0;
  color: #333;
  background: #fff;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

strong {
  font-weight: bold;
}

a {
  color: #8a6730;
}

a:hover {
  text-decoration: underline;
}

a img {
  border-width: 0;
}

.wrap {
  width: 800px;
  margin: 40px auto;
  overflow: hidden;
}

.primary {
  max-width: 750px;
  clear: both;
  padding: 0 5%;
  margin: 40px auto 0px;
}

.primary iframe {
  display: block;
  margin: 0px 0px 20px;
}

.logo {
  background: #ccc;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
}

h1 {
  color: #111;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  font-weight: normal;
  margin: 20px 0 0;
}

p.intro {
  color: #555;
  margin: 10px auto 20px;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
  box-sizing: border-box;
  max-width: 550px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 32px;
  }
  p.intro {
    font-size: 18px;
    padding: 0 50px;
  }
}

.follow-bar {
  background: #d0d0d036;
  padding: 15px;
  margin: 30px auto;
  border-radius: 3px;
  min-height: 58px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.twitter-follow-button {
  font: normal normal normal 11px/18px "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  box-sizing: border-box;
  padding: 1px 10px 1px 30px;
  background-color: #1b95e0;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

a.twitter-timeline {
  visibility: hidden;
  min-height: 100vh;
  display: block;
}

iframe.twitter-follow-button {
  margin: 0 auto;
  display: block;
}

#footer {
  clear: both;
  margin: 20px auto;
  padding: 10px;
  font-size: 100%;
  line-height: 1.4;
  position: relative;
  text-align: center;
  color: #666;
}
